@model IEnumerable<Lab5.Models.Learner>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Mã</th>
        <th>Tên</th>
        <th>Họ</th>
        <th>Ngành</th>
        <th>Ngày Nhập Học</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.LearnerID</td>
            <td>@s.FirstMidName</td>
            <td>@s.LastName</td>
            <td>@s.Major.MajorName</td>
            <td>@s.EnrollmentDate.ToString("dd/MM/yyyy")</td>
        </tr>
    }
    </tbody>
</table>